.login-box {
	padding: 0 0.2rem;
	margin-top: 2rem;
}

.login-box input {
	display: block;
	width: 100%;
	line-height: 0.6rem;
	margin-bottom: 0.22rem;
	font-size: 0.24rem;
	border: none;
	border-bottom: 1px solid #22C37B;
	outline: none;
}

.login-btn {
	display: block;
	width: 100%;
	color: #FFF;
	font-size: 0.26rem;
	text-align: center;
	line-height: 0.62rem;
	border-radius: 4px;
	box-shadow: 0 6px #1B985F;
	background-color: #22C37B;
}
.login-btn:active {
	box-shadow: 0 3px #1B985F;
	transform: translateY(3px);
}